/* Spis treœci */
/* 0.0 Zerowanie styli */
/* 1.0 Style podstawowe */
	/* 1.1 Typografia */
/* 2.0 Style wielorazowe */
	/* 2.1 Grid */
		/* 2.1.1 Flex */
		/* 2.1.2 Flex fallback */
		/* 2.1.3 Float clearfix */
/* 3.0 Style do konkretnej sekcji */
	/* 3.1 G³ówny Header */
		/* 3.1.1 Górny pasek */
		/* 3.1.2 Menu animacja*/
	/* 3.2 Sekcja "O nas" */
	/* 3.3 Sekcja "Proces" */
	/* 3.4 Sekcja "Oferta" */
	/* 3.5 Sekcja "Referencje" */
		/* 3.5.1 Slider */
	/* 3.6 Stopka */
		/* 3.6.1 Formularz kontaktowy */
		/* 3.6.2 Dane kontaktowe */

/* 0.0 Zerowanie styli */
	body, section, div, span, strong, em, p, a, ul, ol, li, figure, figcaption, button, input, textarea, form, label, h1, h2, h3, h4, h5, h6, header, img {
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
/* 1.0 Style podstawowe */
	img {
		max-width: 100%;
		max-height: 100%;
		height: auto;
		width:100%;
	}
	body > header {
		padding:3vw 3vw 0 3vw;
	}
	main > section {
		padding:0 3vw;
	}
	a {
		text-decoration:none;
	}
	button {
		background-color:transparent;
		border:none;
	}
	button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
		cursor:pointer;
	}
	ul {
		list-style:none;
	}
	em {
		font-style:normal;
	}
	br {
		font-family:Arial; /* bug w Edge z czcionk¹ Roboto */
	}
	/* 1.1 Typografia */
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
			unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
		}
		@font-face{
			font-family:'Baloo Thambi';
			src:url(./fonty/baloo_thambi/baloo_thambi-regular.ttf);
		}
		@font-face{
			font-family:'Dosis Medium';
			src:url(./fonty/dosis/dosis-medium.ttf);
		}
		@font-face{
			font-family:'Dosis Regular';
			src:url(./fonty/dosis/dosis-regular.ttf);
		}
		body {
			font-size:14px;
			font-family: 'Roboto', sans-serif;
			font-weight:300;
		}
		
		h1, h2, h3, h4, h5, h6 ,p , figcaption, a, li {
			padding-top:0.5em;
			padding-bottom:0.5em;
		}
		h1 {
			font-size:2.3em;
			text-transform:capitalize;
			text-align:center;
			font-family:'Dosis Medium';
			font-weight:300;
		}
		h2{
			font-size:2.1em;
			text-transform:uppercase;
			color:#28d851;
			font-family:'Baloo Thambi';
			font-weight:300;
		}
		h3 {
			font-size:1.4em;
			font-family:'Dosis Regular';
			font-weight: 300;
		}
		h4{
			font-size:1.2em;
		}
		h5{
			font-size:1.1em;
		}
		section {
			padding-top:1em;
			padding-bottom:1em;
		}
		section > section, figure, ul, ol {
			padding:0.5em 1em;
		}
		header > p:first-of-type {
			font-size:1.2em;
		}

/* 2.0 Style wielorazowe */
	.btn-link {
		display: block;
		background-color: #000;
		color: #28d851;
		font-size: 1.2em;
		text-align: center;
		padding: 0.5em 1em;
		border-radius: 0.4em;
		font-family: 'Dosis Medium';
		margin: 0 auto;
		width: 6.5em;
	}
	.btn-link:after {
		content:"+";
		color:#fff;
		display:inline;
		margin-left:0.5em;
	}
	.txt-biel {
		color:#fff;
	}
	.txt-zielen {
		color:#28d851;
	}
	.tlo-zielen {
		background-color:#28d851;
	}
	.lista-licznik {
		position: relative;
		counter-reset:li;
		margin-left:1em;
	}
	.lista-licznik > li {
		padding:1em 0;
	}
	.lista-licznik > li:before {
		font-size:1.5em;
		color:#fff;
		font-weight:600;
		counter-increment:li;
		content:counter(li);
		position:absolute;
		left: -0.7em;
	}
	.section-licznik {
		counter-reset:section;
		position: relative;
	}
	.section-licznik > section {
		margin-left:1.8em;
		position: relative;
	}
	.section-licznik > section:before {
		font-size: 1.35em;
		color: #fff;
		background-color: #28d851;
		border-radius: 0.2em;
		font-weight: 600;
		position: absolute;
		left:-1.3em;
		counter-increment: section;
		content: counter(section);
		padding: 0.05em;
		line-height: 1em;
		width: 1em;
		text-align: center;
		margin: 0.7em 0;
	}
	.plus, .plus-biel ,.eks {
		position:relative;
		margin-left:1.5em;
	} 
	.plus:before, .plus-biel:before, .eks:before{
		position: absolute;
		left: -2.5em;
	}
	.plus:before {
		content:url(./grafika/plus-zielen.svg);
	}
	.plus-biel:before {
		content:url(./grafika/plus-biel.svg);
	}
	.eks:before {
		content:url(./grafika/eks.svg);
	} 
	/* 2.1 Grid */
		/* 2.1.1 Flex */
		/* 2.1.2 Flex fallback */
		/* 2.1.3 Float clearfix */
			.float-fix:after {
				content: "."; 
				visibility: hidden; 
				display: block; 
				height: 0; 
				clear: both;
			}
/* 3.0 Style do konkretnej sekcji */
	/* 3.1 G³ówny Header */
		.linki-dwa-btn {
			text-align:center;
			display:block;
			width: 100%;
		}
		.linki-dwa-btn  span {
			display: block;
			padding: 0.5em 1em;
		}
		@media (min-width:290px) {
			.linki-dwa-btn {
				display:inline-flex;
				justify-content:space-between;
				align-items: center;
			}
			.btn-link, .linki-dwa-btn  span {
				display: inline-block;
			}
		}
		/* 3.1.1 Górny pasek */
		body > header {
			padding-top:2vw;
			margin-top:3em;
		}
		#top-bar {
			position: fixed;
			left:0;
			right:0;
			top:0;
			padding:1vw 3vw;
			background-color:#fff;
			border-bottom: rgba(40, 216, 81, 0.5) 1px solid;
			box-shadow: 0 1px 0.5em rgba(40, 216, 81, 0.3);			
		}
		#top-bar img {
			height:100%;
			width:auto;
		}
		.logo {
			height:2.5em;
			width:auto;
			display:block;
			float:left;
			padding:0;
		}
		.menu-mobilne {
			height:2.5em;
			width:auto;
			float:right;
			padding-top:0.2em;
			padding-bottom:0.2em;
			margin-left: 1em;
			background-color:transparent;
		}
		.zamknij {
			display:none;
		}
		.menu-linki {
			background-color: #28d851;
			display: block;
			padding: 1em;
			margin-top: 2vw;
			width: 100vw;
			height: 100vh;
			position: absolute;
			left: 0;
			top: 2.5em;
			transform: scaleY(0.0001);
			transform-origin: top;
			transition: transform 1s;
		}
		nav {
			position:relative;
			display: block;
			margin: 0 auto;
			width: 11ex;
			font-size: 4vh;
			padding-left:1.5em;
		}
		nav a {
			color: #fff;
			padding-top:6vh;
			display: block;
			text-transform: uppercase;
			font-family:'Baloo Thambi';
		}
		/* 3.1.2 Menu animacja*/
		.menu-mobilne:hover ~ .menu-linki, .menu-mobilne:focus ~ .menu-linki, .menu-mobilne:active ~ .menu-linki, .menu-linki:hover, .menu-linki:focus, .menu-linki:active {
			transform:scaleY(1);
			transition:transform 1s;
		}
		.menu-mobilne:hover ~ .zamknij, .menu-mobilne:focus ~ .zamknij, .menu-mobilne:active ~ .zamknij, .menu-linki:hover ~ .zamknij, .menu-linki:focus ~ .zamknij, .menu-linki:active ~ .zamknij {
			display:inline-block;
		}
		nav a:hover:before, nav a:focus:before, nav a:active:before {
			content:"\25CF";
			position: absolute;
			left:0;
			display:inline-block;
			padding-right: 1em;
			z-index: 100;
		}

	/* 3.2 Sekcja "O nas" */
		#o-nas > div  {
			border-radius:11px;
		}
		#o-nas > div > div {
			padding:0 1em;
		}
		#o-nas figure img {
			float:left;
			margin-right:1em;
			max-width: 64px;
			width: 50%;
		}
		#o-nas figcaption strong {
			display:block;
		}
		#o-nas li > ul {
			list-style-position:outside;
			list-style-type:'- ';
		}
		#o-nas li:nth-child(2){
			padding-top:0.25em;
			padding-bottom:0.25em;
		}
	
	/* 3.3 Sekcja "Proces" */
		#proces img {
			padding:10%;
			margin-left:-1em;
		}
	/* 3.4 Sekcja "Oferta" */
		#oferta h3 {
			text-align:center;
			font-size:1.8em;
		}
		#oferta > section {
			margin:2em 0;
		}
		.pakiet-tlo {
			background-size:auto 85%;
			background-position: bottom right;
			background-repeat: no-repeat;
			border-radius:0.5em;
			border:none;
		}
		.pakiet-3razy {
			background-color:#ebebeb;
			background-image:url(./grafika/pakiet1.png);
		}
		.pakiet-mala-firma {
			background-color:#28d851;
			color:#fff;
			background-image:url(./grafika/pakiet2.png);
		}
		.pakiet-duza-firma {
			background-color:#ebebeb;
			background-image:url(./grafika/pakiet3.png);
		}
		.pakiet-na-miare {
			background-color:#ebebeb;
			background-image:url(./grafika/pakiet4.png);
			background-size:100% auto;
			background-position: top center;
		}
		.cena {
			text-align:center;
		}
		.cena strong {
			display: block;
			font-size: 1.6em;
			padding-top:2em;
		}
		#oferta .btn-link {
			display: block;
			margin-top: 1em;
			margin-bottom: 1.5em;
		}

	/* 3.5 Sekcja "Referencje" */	
		.opinie  {
			padding:0;
		}
		.opinie img {
			margin:0 auto;
			display:block;
			width: 10em;
		}
		.opinie em {
			color:#28d851;
			font-weight:600;
		}
		.opinie header {
			text-align:center;
		}
		.opinie h4 {
			padding-bottom:0;
		}
		.brandy ul {
			padding:0;
		}
		.brandy li {
			width:50%;
			float:left;
			display:block;
		}
		/* 3.5.1 Slider */
		.slider {
			position:relative;
		}
		.slider > section {
			padding:1em 3em;
		}
		.slider button {
			background-color: #28d851;
			color:#fff;
			width: 2em;
			height: 2em;
			padding: 0.25em;
			border-radius: 1.5em;
			box-sizing: content-box;
			box-shadow: 0.1em 0.2em 0.2em #dadada;
			position:absolute;
			top:50%;
			bottom:50%;
			z-index: 99;
		}
		button.do-tylu {
			left:0;
		}
		button.do-przodu {
			right:0;
		}
		.ukryty {
			position:absolute;
			top:0;
			left:0;
			z-index:97;
			transform: scaleX(0.01);
			display:none;
		}
		.ukryty.do-tylu {
			transform-origin: left;
		}
		.ukryty.do-przodu {
			transform-origin: right;
		}
		.widoczny {
			position:relative;
			z-index:98;
		}
	/* 3.6 Stopka */
		#kontakt {
			padding:0.5em 0 0 0;
		}
		#kontakt h2, #kontakt form, .dane-kontaktowe, .logo-stopka {
			padding:0 3vw;
		}
		/* 3.6.1 Formularz kontaktowy */
		#kontakt form {
			padding-top:1em;
			padding-bottom:1em;
			font-size:1.2em;
		}
		label  {
			margin-bottom:0.25em;
			display:inline-block;
		}
		input  {
			margin-bottom:1em;
			border-radius: 0.3em;
			border: none;
			padding: 0.5em 1em;
			max-width:100%;
		}
		input#name, input#e-mail {
			width:20em;
		}
		input#tel {
			width:16em;
		}
		input#nip {
			width:12em;
		}
		textarea {
			width:100%;
			height:16em;
			margin-bottom:1.5em;
			padding: 0.5em 1em;
			max-width: 100%;
		}
		input[type="submit"] {
			margin-left:auto;
			margin-right:auto;
			background-color:#000;
			color:#fff;
			display:block;
			font-family:'Dosis Medium';
			font-size:1.3em;
			padding:0.5em 1em;
			border:none;
			border-radius:0.25em;
		}
		/* 3.6.2 Dane kontaktowe */
		.dane-kontaktowe  {
			color:#fff;
			padding-bottom:1em;
		}
		.dane-kontaktowe section {
			padding-left:0;
			padding-right:0;
		}
		.dane-kontaktowe ul {			
			padding:0;
		}
		.dane-kontaktowe li {			
			padding-top:0;
		}

		/* 3.6.3 Logo */
		.logo-stopka {
			background-color:#20be47;
			padding-top: 1em;
			padding-bottom: 3vw;
		}
		.logo-stopka img {
			width: auto;
			height: 1.8em;
		}

